@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body,
span,
a,
button,
label,
input {
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  line-height: 1.5;
}
a,
button {
  color: $light;
}
a {
  text-decoration: none;
}
