.container {
  max-width: 1296px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
  @include pad {
    padding-left: 36px;
    padding-right: 36px;
  }
  @include phone-s {
    padding-left: 13px;
    padding-right: 14px;
  }
}
