$primary: #aa0601;
$primary-10: #9f1213;
$secondary: #fbf2f2;
$tertiary: #650300;
$light: #ffffff;
$light-10: #dcdcdc;
$light-20: #f2f2f2;
$gray: #707070;
$gray-10: #555555;
$dark: black;
$tint-dark: #5f3e2d;
$tint-light: #b75929;
