<nav class="bg-tertiary">
  <div class="filter container d-f jcsb aic">
    <ul class="fs-20 fw-bold d-f">
      <li class="filter-option">
        <a href="#">最新消息</a>
      </li>
      <li class="filter-option">
        <a href="#">特別企劃</a>
      </li>
      <li class="filter-option">
        <a href="#">新品上市</a>
      </li>
      <li class="filter-option">
        <a href="#">鏡框小知識</a>
      </li>
    </ul>
    <span class="icon material-symbols-outlined fs-40 text-light">
      search
    </span>
  </div>
</nav>
