<footer class="footer bg-primary">
  <div class="container">
    <div class="footer-info">
      <div class="d-f jcsb">
        <ul class="footer-menu d-f aic">
          <li class="footer-list">
            <a href="index.html">首頁</a>
          </li>
          <li class="footer-list">
            <a href="productOptical.html">系列鏡框</a>
          </li>
          <li class="footer-list">
            <a href="shop.html">門市據點</a>
          </li>
          <li class="footer-list">
            <a href="blog.html">部落格</a>
          </li>
          <li class="footer-list">
            <a href="faq.html">常見問題</a>
          </li>
        </ul>
        <ul class="footer-icon d-f">
          <li class="icon">
            <a href="https://www.facebook.com/" target="_blank"
              ><img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true"
                alt="fb"
            /></a>
          </li>
          <li class="icon">
            <a href="https://www.instagram.com/" target="_blank"
              ><img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true"
                alt="ig"
            /></a>
          </li>
          <li class="icon">
            <a href="https://line.me/zh-hant/" target="_blank"
              ><img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true"
                alt="line"
            /></a>
          </li>
        </ul>
      </div>
      <ul class="footer-contact text-light">
        <li class="d-f aic">
          <a href="tel:0800-000-000"
            ><span class="icon material-symbols-outlined fs-48"> call </span></a
          >
          <a class="info fs-36" href="tel:0800-000-000">0800-000-000</a>
        </li>
        <li class="d-f aic">
          <a href="mailto:glasses@business.com"
            ><span class="icon material-symbols-outlined fs-48"> mail </span></a
          >
          <a class="info fs-36" href="mailto:glasses@business.com"
            >glasses@business.com</a
          >
        </li>
      </ul>
    </div>
    <div class="copyright d-f jcsb aic text-light wrap">
      <span class="copyright-info"
        >Copyright © 2020 Glasses.All rights reserved.</span
      >
      <div class="fs-14">
        <span class="copyright-rule">隱私權政策</span>
        <span class="copyright-rule">服務條款</span>
      </div>
    </div>
  </div>
</footer>
