<nav class="bg-primary">
  <div class="navbar container d-f aic jcsb">
    <h1><a class="navbar-logo" href="index.html">眼鏡官網</a></h1>
    <ul class="nav d-f fs-20 wrap">
      <li>
        <a href="productOptical.html">系列鏡框</a>
      </li>
      <li><a href="shop.html">門市據點</a></li>
      <li><a href="blog.html">部落格</a></li>
      <li><a href="faq.html">常見問題</a></li>
    </ul>
  </div>
</nav>
