<div class="pagination">
  <div class="container d-f aic jcc">
    <button class="pagination-previous" for="first">
      <a class="text-gray-10 fs-19" href="#">上一頁</a>
    </button>
    <input type="radio" id="first" name="pagebtn" />
    <label class="d-f aic jcc fs-18" for="first">1</label>
    <input type="radio" id="second" name="pagebtn" checked />
    <label class="d-f aic jcc fs-18" for="second">2</label>
    <input type="radio" id="third" name="pagebtn" />
    <label class="d-f aic jcc fs-18" for="third">3</label>
    <input type="radio" id="fourth" name="pagebtn" />
    <label class="d-f aic jcc fs-18" for="fourth">4</label>
    <input type="radio" id="fifth" name="pagebtn" />
    <label class="d-f aic jcc fs-18" for="fifth">5</label>
    <button class="pagination-next" for="first">
      <a class="text-gray-10 fs-19" href="#">下一頁</a>
    </button>
  </div>
</div>
