.footer {
  padding-top: 48px;
  &-icon {
    gap: 32px;
    .icon {
      width: 48px;
      @include pad {
        width: 40px;
      }
      @include phone {
        width: 24px;
      }
    }
    @include pad {
      gap: 16px;
    }
    @include phone {
      gap: 8px;
    }
  }
  &-list {
    &:not(:last-child) {
      margin-right: 48px;
    }
    a {
      padding: 10px 0;
    }
    position: relative;
    &::after {
      content: " ";
      display: block;
      width: 0%;
      height: 3px;
      background-color: $light;
      position: absolute;
      right: 0;
      transition: 0.4s;
    }
    &:hover::after {
      width: 100%;
      left: 0;
    }
  }
  &-contact {
    margin-top: 24px;
    .icon {
      display: block;
      line-height: 1.5;
      margin-right: 16px;
      @include phone {
        font-size: 24px;
        margin-right: 8px;
      }
    }
    li:not(:first-child) {
      margin-top: 8px;
    }
    @include phone {
      margin-top: 0px;
      .info {
        font-size: 16px;
      }
    }
  }
  @include phone {
    padding-top: 24px;
    &-menu {
      display: none;
    }
    &-info {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }
}
.copyright {
  padding: 32px 0;
  border-top: 1px solid $light;
  margin-top: 32px;
  &-rule:not(:last-child) {
    margin-right: 48px;
    @include phone {
      margin-right: 0px;
    }
  }
  @include phone {
    &-rule {
      display: block;
      margin-top: 8px;
    }
  }
  @include phone {
    margin-top: 24px;
    padding: 16px 0 24px 0;
    &-info {
      width: 100%;
    }
  }
}
