.blog {
  padding: 96px 0 80px 0;
  &-title {
    padding-left: 16px;
    border-left: 8px solid $primary-10;
    @include phone {
      font-size: 24px;
    }
  }
  &-list {
    margin: 32px 0 124px 0;
    @include pad {
      margin: 40px 0 80px 0;
    }
    @include phone {
      margin: 24px 0 64px 0;
    }
  }
  .card {
    &-img,
    &-content {
      width: 49.07%;
    }
    &-content {
      p {
        margin-top: 16px;
      }
      @include pad {
        display: none;
      }
    }
    &-content-m {
      width: calc((100% - 24px) / 2);
      display: none;
      @include pad {
        display: flex;
      }
      @include phone {
        width: 100%;
        p {
          display: none;
        }
      }
    }
    &-btn {
      display: block;
    }
    &:not(:first-child) {
      margin-top: 60px;
      @include phone {
        margin-top: 24px;
      }
    }
    @include phone {
      &-img {
        width: 100%;
      }
    }
  }
  @include phone {
    padding: 40px 0 64px 0;
  }
}
