<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../assets/images/logo.png" rel="shortcut icon" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>情人特別企劃</title>
  </head>
  <body>
    <%- include('./layout/navbar'); -%> <%- include('./layout/filternav'); -%>
    <main class="blog-content">
      <div class="container">
        <div class="blog-content-title">
          <ul class="crumbs d-f">
            <li>
              <a class="text-dark" href="index.html">首頁</a
              ><span>&nbsp;/&nbsp;</span>
            </li>
            <li>
              <a class="text-dark" href="blog.html">部落格</a
              ><span>&nbsp;/&nbsp;</span>
            </li>
            <li>
              <a class="text-dark" href="#">特別企劃</a
              ><span>&nbsp;/&nbsp;</span>
            </li>
            <li>
              <a class="text-primary" href="index.html">情人特別企劃</a>
            </li>
          </ul>
          <div class="blog-content-tags fs-24 fw-bold text-primary">
            <span>#special</span><span>#event</span>
          </div>
        </div>
        <article class="article d-f">
          <div class="article-info">
            <h4 class="title fs-48">情人特別企劃</h4>
            <h5 class="subtitle fs-24 fw-500">2020 Valentine’s Special</h5>
            <img
              class="article-info-img"
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/blogpage-1.png?raw=true"
              alt="blogpage-1"
            />
            <p class="article-info-content text-gray-10">
              一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。
              本次拍攝的鏡框款式與 NEEDS CLASSIC
              聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
            </p>
            <img
              class="article-info-img"
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/blogpage-2.png?raw=true"
              alt="blogpage-2"
            />
            <p class="article-info-content text-gray-10">
              一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。
              本次拍攝的鏡框款式與 NEEDS CLASSIC
              聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
            </p>
            <img
              class="article-info-img"
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/blogpage-3.png?raw=true"
              alt="blogpage-3"
            />
            <p class="article-info-content text-gray-10">
              一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。
              本次拍攝的鏡框款式與 NEEDS CLASSIC
              聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
            </p>
            <img
              class="article-info-img"
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/blogpage-4.png?raw=true"
              alt="blogpage-4"
            />
            <p class="article-info-content text-gray-10">
              2/14(五)-2/20(日)<br />至本店單筆消費滿2980元,
              就送情人節限定眼鏡盒1個<br />
              期間優惠還有~~持他牌鏡框更換鏡片<br />薄型非球面鏡片折300元<br />
              濾藍光鏡片折500元<br />
              快快帶上另一半<br />
              讓彼此每一次睜開眼，都被愛的視線包圍!
            </p>
            <div class="article-info-share text-gray-10 d-f aic">
              <a class="fw-bold text-dark" href="#">Share</a>
              <a class="icon" href="#"
                ><img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-facebook.png?raw=true"
                  alt="fb"
              /></a>
              <a class="icon" href="#">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-instagram.png?raw=true"
                  alt="fb"
              /></a>
            </div>
          </div>
          <div class="article-tags text-primary fw-bold">
            <div class="tags-title d-f">
              <span class="icon material-symbols-outlined fs-48"> label </span>
              <span class="fs-32">TAGS</span>
            </div>
            <div class="tags d-f wrap">
              <span class="fs-24">#special</span>
              <span class="fs-24">#sale</span>
              <span class="fs-24">#new_item</span>
              <span class="fs-24">#interview</span>
              <span class="fs-24">#trivia</span>
              <span class="fs-24">#news</span>
              <span class="fs-24">#event</span>
            </div>
          </div>
        </article>
        <div class="article-order d-f jcsb">
          <a class="order text-dark d-f aic" href="#"
            ><span class="icon material-symbols-outlined"> arrow_back </span
            ><span>上一篇：街頭潮人訪問 1</span></a
          >
          <a class="order text-dark d-f aic fxdrr" href="#"
            ><span class="icon material-symbols-outlined"> arrow_forward </span
            ><span>下一篇：街頭潮人訪問 2</span></a
          >
        </div>
      </div>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
