<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../assets/images/logo.png" rel="shortcut icon" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>首頁</title>
  </head>
  <body>
    <%- include('./layout/navbar'); -%>
    <header class="header">
      <div class="container">
        <div class="header-info">
          <h2 class="header-title fs-36 text-tertiary">
            Promise-Desert 2020 早春系列
          </h2>
          <h3 class="header-subtitle fs-64 fw-bold text-tertiary">
            看得清，才能看得遠
          </h3>
          <button type="button" class="header-btn bg-primary fs-20 fw-500">
            <a href="#">立即購買</a>
          </button>
        </div>
      </div>
    </header>
    <section class="intro bg-secondary">
      <div class="container">
        <h4 class="intro-title fs-48 fw-bold text-tertiary">
          用專業的心，做專業的事
        </h4>
        <ul class="d-f jcsb wrap">
          <li class="intro-item d-f fxdc aic">
            <div class="intro-item-title text-tertiary">
              <span class="icon material-symbols-outlined fs-100 fw-bold">
                paid
              </span>
              <h5 class="fs-24 fw-bold">單一價格</h5>
            </div>
            <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
          </li>
          <li class="intro-item d-f fxdc aic">
            <div class="intro-item-title text-tertiary">
              <span class="icon material-symbols-outlined fs-100 fw-bold">
                schedule
              </span>
              <h5 class="fs-24 fw-bold">20 分鐘即可取件</h5>
            </div>
            <p>
              為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快
              20 分鐘即可完成。
            </p>
          </li>
          <li class="intro-item d-f fxdc aic">
            <div class="intro-item-title text-tertiary">
              <span class="icon material-symbols-outlined fs-100 fw-bold">
                favorite
              </span>
              <h5 class="fs-24 fw-bold">安心售後服務</h5>
            </div>
            <p>
              我們提供長達 120
              天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。
            </p>
          </li>
          <li class="intro-item d-f fxdc aic">
            <div class="intro-item-title text-tertiary">
              <span class="icon material-symbols-outlined fs-100 fw-bold">
                voicemail
              </span>
              <h5 class="fs-24 fw-bold">關於鏡片</h5>
            </div>
            <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
          </li>
        </ul>
      </div>
    </section>
    <section class="classic">
      <div class="container">
        <h4 class="classic-title fs-48 fw-bold text-tertiary">經典系列鏡框</h4>
        <ul class="classic-card d-f jcsb wrap">
          <li class="card">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section3-1.png?raw=true"
              alt="home-section3-1"
            />
            <h5 class="card-title italic fs-48 fw-900 text-primary">OPTICAL</h5>
          </li>
          <li class="card">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section3-2.png?raw=true"
              alt="home-section3-2"
            />
            <h5 class="card-title italic fs-48 fw-900 text-primary">
              SUNGLASSES
            </h5>
          </li>
          <li class="card">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section3-3.png?raw=true"
              alt="home-section3-3"
            />
            <h5 class="card-title italic fs-48 fw-900 text-primary">
              FUNCTIONAL
            </h5>
          </li>
        </ul>
      </div>
    </section>
    <section class="collaborate">
      <div class="container">
        <h4 class="collaborate-title fs-48 fw-bold text-light">聯名設計鏡框</h4>
        <ul class="collaborate-menu d-f wrap">
          <li class="collaborate-item">
            <img
              class="img-top"
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-1.png?raw=true"
              alt="home-section4-1"
            />
            <h5 class="italic fs-48 fw-900 text-primary bg-light">DOUBLE A+</h5>
          </li>
          <li class="collaborate-item">
            <img
              class="img-bottom"
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-2.png?raw=true"
              alt="home-section4-2"
            />
            <h5 class="italic fs-48 fw-900 text-primary bg-light">YOUTH</h5>
          </li>
        </ul>
      </div>
    </section>
    <section class="suggest">
      <div class="container">
        <h4 class="suggest-title fs-48 fw-bold text-tertiary">顧客推薦</h4>
        <ul class="suggest-card d-f jcsb wrap">
          <li class="card d-f fxdc">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-1.png?raw=true"
              alt="home-section5-1"
            />
            <div class="card-info d-f fxdc grow">
              <p class="fw-500">Jessy</p>
              <p class="grow">眼鏡品質優良，下次還會想來這邊購買！</p>
              <span class="card-date text-gray fs-14">2021/06/20</span>
            </div>
          </li>
          <li class="card d-f fxdc">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-2.png?raw=true"
              alt="home-section5-2"
            />
            <div class="card-info d-f fxdc grow">
              <p class="fw-500">凱倫</p>
              <p>做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
              <span class="card-date text-gray fs-14">2021/04/18</span>
            </div>
          </li>
          <li class="card d-f fxdc">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-3.png?raw=true"
              alt="home-section5-3"
            />
            <div class="card-info d-f fxdc grow">
              <p class="fw-500">悠悠</p>
              <p>
                謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！
              </p>
              <span class="card-date text-gray fs-14">2020/12/25</span>
            </div>
          </li>
          <li class="card d-f fxdc">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-4.png?raw=true"
              alt="home-section5-4"
            />
            <div class="card-info d-f fxdc grow">
              <p class="fw-500">Kyuan</p>
              <p>服務很好，品質沒有任何問題，非常喜歡。</p>
              <span class="card-date text-gray fs-14">2020/10/31</span>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="bg-secondary">
      <form class="container">
        <div class="form">
          <h4 class="form-title fs-48 fw-bold text-tertiary">聯絡我們</h4>
          <p class="form-info fs-20">
            我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。
          </p>
          <label class="import-point" for="name">姓名</label>
          <input class="import" type="text" id="name" placeholder="陳小明" />
          <label class="import-point" for="phone">聯絡電話</label>
          <input
            class="import"
            type="text"
            id="phone"
            placeholder="0912-345-678"
          />
          <label class="import-point" for="email">電子郵件</label>
          <input
            class="import"
            type="email"
            id="email"
            placeholder="example@email.com"
          />
          <label class="import-point" for="opinion">意見反應</label>
          <textarea
            name="opinion"
            id="opinion"
            placeholder="請輸入您的意見"
          ></textarea>
          <div class="check d-f aifs">
            <div>
              <input class="check-box" type="checkbox" id="check" />
            </div>
            <label for="check"
              >我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label
            >
          </div>
          <button type="submit" class="form-submit bg-primary fw-bold">
            確認送出
          </button>
        </div>
      </form>
    </section>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
