<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../assets/images/logo.png" rel="shortcut icon" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>系列鏡框-OPTICAL</title>
  </head>
  <body>
    <%- include('./layout/navbar'); -%>
    <nav>
      <ul class="sort container fw-500 fs-32 d-f jcsb">
        <li class="sort-btn">
          <a
            style="border-bottom: 8px solid #aa0601"
            class="text-dark"
            href="productOptical.html"
            >OPTICAL</a
          >
        </li>
        <li class="sort-btn">
          <a class="text-dark" href="productSunglasses.html">SUNGLASSES</a>
        </li>
        <li class="sort-btn">
          <a class="text-dark" href="#">FUNCTIONAL</a>
        </li>
      </ul>
    </nav>
    <header class="d-f">
      <img
        class="header-optical-left"
        src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-1.png?raw=true"
        alt="product-header-1"
      />
      <img
        class="header-optical-right"
        src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-2.png?raw=true"
        alt="product-header-2"
      />
    </header>
    <main class="optical">
      <div class="container">
        <div class="optical-title">
          <h4 class="title fs-42 fw-500">Celluloid Combi</h4>
          <h4 class="title fs-32">賽璐珞鈦金屬混合鏡框</h4>
        </div>
        <ul class="optical-product d-f jcsb wrap">
          <li class="card">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true"
              alt="product-1"
            />
            <div class="d-f jcsb">
              <span class="fs-24">BJ41600S</span>
              <span class="fs-24 fw-500 text-primary">NTD3,490</span>
            </div>
            <div class="d-f">
              <div class="tint bg-tint-dark"></div>
              <div class="tint bg-tint-light"></div>
            </div>
          </li>
          <li class="card">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-2.png?raw=true"
              alt="product-2"
            />
            <div class="d-f jcsb">
              <span class="fs-24">BJ41600S</span>
              <span class="fs-24 fw-500 text-primary">NTD3,490</span>
            </div>
            <div class="d-f">
              <div class="tint bg-tint-dark"></div>
              <div class="tint bg-tint-light"></div>
            </div>
          </li>
          <li class="card">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-3.png?raw=true"
              alt="product-3"
            />
            <div class="d-f jcsb">
              <span class="fs-24">BJ41600S</span>
              <span class="fs-24 fw-500 text-primary">NTD3,490</span>
            </div>
            <div class="d-f">
              <div class="tint bg-tint-dark"></div>
              <div class="tint bg-tint-light"></div>
            </div>
          </li>
          <li class="card">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-4.png?raw=true"
              alt="product-4"
            />
            <div class="d-f jcsb">
              <span class="fs-24">BJ41600S</span>
              <span class="fs-24 fw-500 text-primary">NTD3,490</span>
            </div>
            <div class="d-f">
              <div class="tint bg-tint-dark"></div>
              <div class="tint bg-tint-light"></div>
            </div>
          </li>
          <li class="card">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-5.png?raw=true"
              alt="product-5"
            />
            <div class="d-f jcsb">
              <span class="fs-24">BJ41600S</span>
              <span class="fs-24 fw-500 text-primary">NTD3,490</span>
            </div>
            <div class="d-f">
              <div class="tint bg-tint-dark"></div>
              <div class="tint bg-tint-light"></div>
            </div>
          </li>
          <li class="card">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-6.png?raw=true"
              alt="product-6"
            />
            <div class="d-f jcsb">
              <span class="fs-24">BJ41600S</span>
              <span class="fs-24 fw-500 text-primary">NTD3,490</span>
            </div>
            <div class="d-f">
              <div class="tint bg-tint-dark"></div>
              <div class="tint bg-tint-light"></div>
            </div>
          </li>
          <li class="card">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true"
              alt="product-1"
            />
            <div class="d-f jcsb">
              <span class="fs-24">BJ41600S</span>
              <span class="fs-24 fw-500 text-primary">NTD3,490</span>
            </div>
            <div class="d-f">
              <div class="tint bg-tint-dark"></div>
              <div class="tint bg-tint-light"></div>
            </div>
          </li>
          <li class="card">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-2.png?raw=true"
              alt="product-2"
            />
            <div class="d-f jcsb">
              <span class="fs-24">BJ41600S</span>
              <span class="fs-24 fw-500 text-primary">NTD3,490</span>
            </div>
            <div class="d-f">
              <div class="tint bg-tint-dark"></div>
              <div class="tint bg-tint-light"></div>
            </div>
          </li>
          <li class="card">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-3.png?raw=true"
              alt="product-3"
            />
            <div class="d-f jcsb">
              <span class="fs-24">BJ41600S</span>
              <span class="fs-24 fw-500 text-primary">NTD3,490</span>
            </div>
            <div class="d-f">
              <div class="tint bg-tint-dark"></div>
              <div class="tint bg-tint-light"></div>
            </div>
          </li>
          <li class="card">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-4.png?raw=true"
              alt="product-4"
            />
            <div class="d-f jcsb">
              <span class="fs-24">BJ41600S</span>
              <span class="fs-24 fw-500 text-primary">NTD3,490</span>
            </div>
            <div class="d-f">
              <div class="tint bg-tint-dark"></div>
              <div class="tint bg-tint-light"></div>
            </div>
          </li>
          <li class="card">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-5.png?raw=true"
              alt="product-5"
            />
            <div class="d-f jcsb">
              <span class="fs-24">BJ41600S</span>
              <span class="fs-24 fw-500 text-primary">NTD3,490</span>
            </div>
            <div class="d-f">
              <div class="tint bg-tint-dark"></div>
              <div class="tint bg-tint-light"></div>
            </div>
          </li>
          <li class="card">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-6.png?raw=true"
              alt="product-6"
            />
            <div class="d-f jcsb">
              <span class="fs-24">BJ41600S</span>
              <span class="fs-24 fw-500 text-primary">NTD3,490</span>
            </div>
            <div class="d-f">
              <div class="tint bg-tint-dark"></div>
              <div class="tint bg-tint-light"></div>
            </div>
          </li>
        </ul>
      </div>
      <%- include('./layout/pagination'); -%>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
